* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: SofadiOne;
}

.heading-text {
    font-size: 3rem;
}

.sub-heading-text {
    font-size: 2rem;
}

.content-text {
    font-size: 1.5rem;
}

.d-flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

:root {
    --primary-color: #007CF8;
    --secondary-color: #2ecc71;
    --button-color: #EE628A;
    --primary-text-color: #fff;
    --secondary-text-color: #000;
    --background-color: #eeeeee;
}

.container {
    margin: 0 auto;
    width: 1400px;
}

ul {
    list-style: none;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.gap {
    gap: 1rem;
}

.red-btn {
    background-color: var(--button-color);
    color: var(--primary-text-color);
}

.blue-btn {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
}


/* --------------------------------- Header --------------------------------- */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1;
    box-shadow: 0px 1px 2rem #0000002e;
}

.header .container {
    padding: 20px;
}

.header .logo img {
    width: 15rem;
    background-color: white;
    border-radius: 10rem;
    padding: 0.5rem;
}

.navbar nav ul,
.navbar nav .btns {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.btns .red-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}

.navbar nav ul a {
    color: var(--primary-text-color);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.navbar nav ul a:hover {
    background: rgba(188, 188, 255, 0.391);
    border-radius: 1rem;
}

/* --------------------------------- Banner --------------------------------- */
.banner {
    background-color: var(--primary-color);
    border-radius: 0 0 10rem 10rem;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.banner .container {
    padding: 8rem 1rem 15rem;
}

.banner .banner-content,
.banner .banner-image {
    width: 50%;
}

.banner .banner-content {
    padding: 1rem;
    color: var(--primary-text-color);
}

.banner-content h6,
.banner-content h2 {
    text-transform: uppercase;
}

.banner-content h6 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.banner-content h2 {
    font-size: 3rem;
    position: relative;
    margin-bottom: 3rem;
}

.banner-content h2::after {
    position: absolute;
    background-image: url(../images/underline.png);
    width: 12rem;
    height: 0.7rem;
    content: '';
    left: 8.5rem;
    bottom: 0;
}

.banner-content p {
    font-size: 1.25rem;
    margin-bottom: 4rem;
    text-align: justify;
}

.input-data {
    position: relative;
    width: 80%;
}

.banner-content input,
.subscribe .input-data input {
    font-family: SofadiOne;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5rem;
    outline: none;
    width: 100%;
}

.banner-content button,
.subscribe .input-data button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-family: 'SofadiOne';
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.banner-content button:hover,
.subscribe .input-data button:hover {
    background-color: var(--primary-color);
}

.banner .banner-image {
    position: relative;
    text-align: end;
}

.banner .banner-image img {
    border-radius: 2rem;
}

.banner-image p {
    position: absolute;
    font-weight: 700;
}

.banner-image .blue-btn {
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1.25rem;
    font-size: 1.5rem;
    border-radius: 2rem;
}

.banner-image .red-btn {
    bottom: -2rem;
    left: 15rem;
    padding: 2.25rem 1rem;
    font-size: 2rem;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #00000066;
}

/* ------------------------------ card section ------------------------------ */
.cards-wrap {
    position: absolute;
    bottom: -12rem;
    width: 100%;
    margin: 0 auto;
}

.card {
    background-color: #ffffff;
    width: 23%;
    padding: 2rem 5rem;
    box-shadow: 2px 2px 10px #0000004f;
    border-radius: 2rem;
    justify-content: center;
    flex-direction: column;
}

.card-image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card-image:hover {
    background-color: var(--button-color);
}

.card img {
    padding: 1.5rem;
    margin: 2.5px;
}

.card p {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 800;
}

/* ------------------------------ Tranding card ----------------------------- */
.tranding_game {
    padding-top: 5rem;
    margin-bottom: 10rem;
}

.tranding_game .container,
.top-games-heading .container {
    padding: 0 1rem;
}

.tranding-heading,
.top-games-heading {
    margin-bottom: 5rem;
}

.tranding-heading h6,
.top-games-heading h6 {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--button-color);
    margin-bottom: .5rem;
}

.tranding-heading h2,
.top-games-heading h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.tranding-heading a.red-btn,
.top-games-heading a.red-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.tranding-heading a.red-btn:hover,
.top-games-heading a.red-btn:hover {
    background-color: var(--primary-color);
}

.tranding-card-wrapper {
    width: 100%;
    gap: 1.5rem;
}

.tranding-card {
    background-color: var(--background-color);
    border-radius: 2rem;
}

.tranding-card .card-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.tranding-card .card-img p {
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    gap: 0.25rem;
}

.tranding-card .card-img p span strike {
    font-size: 1rem;
}

.card-content {
    padding: 1rem 2rem 2rem;
}

.card-content div p:first-child,
.top-game-content p:nth-child(1) {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--button-color);
    margin-bottom: 0.25rem;
}

.card-content div p:last-child {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
}

.card-content span.red-btn {
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.card-content span.red-btn a {
    color: var(--primary-text-color);
}

.card-content span:hover {
    background-color: var(--primary-color);
}

/* ---------------------------- Top Games section --------------------------- */
.top-games {
    background-color: var(--background-color);
    padding: 8rem 0;
    border-radius: 10rem;
    margin-bottom: 5rem;
}

.top-games-wrapper {
    gap: 1.5rem;
}

.top-game-card {
    border-radius: 2rem;
    background-color: var(--primary-text-color);
}

.top-game-card img {
    width: 100%;
    border-radius: 2rem;
}

.top-game-content {
    padding: 1rem 2rem 2rem;
    text-align: center;
}

.top-game-content p:nth-child(2) {
    font-size: 1.25rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 1rem;
}

.top-game-content a.red-btn {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.top-game-content a {
    color: var(--primary-text-color);
}

.top-game-content a:hover {
    background-color: var(--primary-color);
}

/* --------------------------- Categories section --------------------------- */
.categories {
    padding: 5rem 0;
    margin-bottom: 5rem;
}

.categories .container {
    padding: 0 1rem;
}

.categories-header {
    text-align: center;
    margin-bottom: 5rem;
}

.categories-header h6 {
    font-size: 1.25rem;
    color: var(--button-color);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.categories-header h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

.categories-thumb-wrapper {
    gap: 3rem;
    margin-bottom: 5rem;
}

.categories-thumb-wrapper .thumb {
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.categories-thumb-wrapper .thumb h4 {
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    color: var(--primary-text-color);
}

.categories-thumb-wrapper .thumb-img a {
    width: 100%;
}

.categories-thumb-wrapper .thumb-img img {
    width: 100%;
    border-radius: 2rem;
    object-fit: contain;
}

.cta {
    padding-top: 5rem;
}

.cta .shop,
.cta .subscribe {
    margin-top: 5rem;
    background-color: var(--background-color);
}

.cta .subscribe {
    margin-top: 10rem;
}

.shop,
.subscribe {
    padding: 5rem;
    border-radius: 2rem;
}

.shop-content h6,
.subscribe-content h6 {
    color: var(--button-color);
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.shop-content h2,
.subscribe-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.shop-content h2 span,
.subscribe-content h2 span {
    color: var(--primary-color);
}

.shop-content p {
    font-size: 1.25rem;
    margin-bottom: 3rem;
    color: var(--button-color);
}

.shop-content a {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
}

.subscribe .input-data {
    width: 100% !important;
}

.cta::after {
    background-image: url(../images/cta-bg.jpg);
    max-width: 550px;
    max-height: 510px;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    border-radius: 25px;
    left: 50%;
    transform: translateX(-275px);
    top: 5rem;
    z-index: -1;
}

/* ----------------------------- footer section ----------------------------- */
footer {
    padding: 2rem 0 5rem;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    font-size: 1.25rem;
    border-radius: 5rem 5rem 0 0;
}



/* ---------------------------- Registration.html --------------------------- */
.reg-heading {
    margin-top: 8rem;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border-radius: 0 0 10rem 10rem;
}

.reg-heading .container {
    text-align: center;
    padding: 8rem 2rem;
}

.reg-heading h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.reg-heading p {
    font-size: 1.5rem;
    text-transform: capitalize;
}

/* ------------------------------ registration ------------------------------ */
.registration {
    margin: 5rem 0;
}

.left-side,
.right-side {
    padding: 3rem 2rem;
    background-color: var(--background-color);
    border-radius: 5rem;
}

.rg-content {
    text-align: center;
}

.left-side h6 {
    font-size: 1.25rem;
    color: var(--button-color);
    margin-bottom: 0.5rem;
}

.left-side h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.left-side p {
    letter-spacing: 2px;
    color: #3f3f3f;
}